<div class="chatcontrol">
  <div class="window">
    <div class="css3button" *ngFor="let sugesstion of sugesstions" (click)="suggest(sugesstion)">
      <a>{{sugesstion}}</a>
    </div>
  </div>
  <div class="formwrap">
    <input type="text" class="form-control chatinput" (keyup.enter)="sendMessage()" [(ngModel)]="request.text" />
    <button class="btn btn-primary sendbtn" (click)="sendMessage()" [disabled]="request.text == ''"><i class="material-icons">send</i></button>
    <button class="btn btn-success btn-wd" (click)="activateSpeechSearchMovie()" [disabled]="!showSearchButton"><i class="material-icons">mic</i></button>
    <button class="btn btn-danger btn-wd" (click)="stopSpeechSearchMovie()" [disabled]="showSearchButton"><i class="material-icons">mic_off</i></button>
  </div>
</div>