.message {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
}

.timeform {
  text-align: right;
  width: 6%;
  margin-top: -10px;

  .timestamp {
    font-size: 0.8em;

  }
}

.u-timeform {
  float: right;
  text-align: right;
  width: 64%;
  margin-top: -10px;

  .timestamp {
    font-size: 0.8em;

  }
}

.avatar {
  width: 50px;
  margin-right: 20px;
  float: left;
}

.msgwrap {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: blueviolet;
  padding: 10px;
  margin-left: 60px;
  color: white;
  overflow-wrap: break-word;
  width: fit-content;
}


.u-msgwrap {

  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: gray;
  padding: 10px;
  margin-right: 20px;
  color: white;
  overflow-wrap: break-word;
  float: right;
  width: fit-content;
}

.u-avatar {
  width: 50px;
  float: right;
  border-radius: 50px;
}

.list-group-item {
  border: 0px solid white !important;
}
