.signout {
  color: white !important;
  font-weight: 800;
  cursor: pointer;
}

.header {
  text-align: right;
  height: 60px;
  background-color: blueviolet;
  padding-top: 15px;
  padding-right: 15px;
}
